.custom-select {
  &__control {
    outline: none !important;
    box-shadow: none !important;

    &--menu-is-open {
      border-bottom: none !important;
    }
  }

  &__menu {
    box-shadow: none !important;
    margin: 0 !important;
  }

  &__option {
    cursor: pointer !important;
  }
}
