@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

@keyframes darkVersion {
  0% {
    background-color: white;
  }
  100% {
    background-color: black;
  }
}

@keyframes lightRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

#root {
  width: 100%;
  height: 100%;
}

.content {
  width: 100%;
  height: 100%;
  transition: 0.5s;
  display: grid;
  grid-template-columns: repeat(12, 1fr);

  .container {
    display: flex;
    flex-direction: column;
    margin-top: 2.5vw;
    gap: 2.5vw;
    grid-column: 2/12;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-column: 1/13;
    grid-row: 1/4;

    .light-btn {
      transition: 0.5s;
      width: 1.3vw;
      height: 1.3vw;
      &.dark {
        transform: rotate(360deg);
        path {
          fill: white;
        }
      }
      path {
        transition: 0.5s;
        fill: black;
      }
    }

    .icon {
      width: 5vw;
      height: 5vw;
    }
  }

  .search_panel {
    grid-column: 1/13;
    grid-row: 4/5;
  }

  .pictures {
    grid-column: 1/13;
    grid-row: 6/10;
  }

  .paginator {
    grid-column: 1/13;
    grid-row: 10/13;
  }
}

.dark {
  animation: darkVersion 0.5s ease-in-out;
  background-color: black;
}

@media (max-width: 768px) {
  .content {
    .container {
      gap: 4vw;
    }

    .header {
      .light-btn {
        width: 2vw;
        height: 2vw;
      }
      .icon {
        width: 7vw;
        height: 7vw;
      }
    }
  }
}

@media (max-width: 320px) {
  .content {
    .container {
      gap: 6vw;
    }

    .header {
      .light-btn {
        width: 4vw;
        height: 4vw;
      }
      .icon {
        width: 12vw;
        height: 12vw;
      }
    }
  }
}
